<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/style/normalize.css">
        <link rel="stylesheet" href="/style/style.css">
    </head>
    <body>
        <script src="/scripts/lib/jquery.js"></script>
        <script src="/scripts/lib/underscore.js"></script>
        <script src="/scripts/lib/backbone.js"></script>

        <%= yield %>
    </body>
</html>
